html {
}
body {
	font-size:12px;
	font-family:"ו"
}
#left {
	width:150px;
	padding:10px 0;
	margin-right:10px;
	float:left
}
#right {
	width:210px;
	padding:15px 0;
	float:right
}

.fatieArea {
	width:796px;
	border:0;
	margin-top:10px
}
.fatieArea .titleDesc {
	font-size:14px;
	font-weight:700
}
.fatieArea tr td {
	padding-bottom:12px;
	font-size:14px
}


.common-submitBtn:hover {
    background: #2965b1;
}
.common-submitBtn {
    color: #fff;
    background: #4986d0;
    border-radius: 5px;
    padding: 0 21px;
    height: 30px;
    border: 1px solid #4986d0;
    cursor: pointer;
    margin-right:200px;
    line-height:26px;
   
}
.textAreaContainer {
	height:400px;
	width:728px
}
.textAreaContainer,.textAreaContainer {
	font-family:"ו";
	*position:relative;
	*margin-top:-1px;
	padding:4px
}
.textAreaContainer {
	width:552px;
	height:100px
}


#left {
	height:200px
}

.alert1-false {
	width:220px;
    color: #FFFFFF;
    background-color: #FF3030;
    border-color: #FFFFFF;
}
.alert1-success {
	width:100px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert1 {

    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}




.pet_article_like {
    width:860px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    margin-top: 20px;
    padding: 18px;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body, button, input, select, textarea {
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga","kern";
}
.pet_article_like_delete {
    padding: 0;
    box-shadow: none;
}
.pet_content_main {
    max-width: 100%;
    background: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: 0 0 3px rgba(100,100,100,.1);
    box-shadow: 0 0 3px rgba(100,100,100,.1);
}
.pet_content_main .am-list-news-default {
    margin: 0;
}
.am-list-news-default {
    margin-top: 0;
}
.pet_content_main .am-list, .am-topbar {
    margin-bottom: 0;
}
.am-list {
    padding-left: 0;
}
.am-list, .am-topbar {
    margin-bottom: 1.6rem;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.am-list-news-default .am-list .pet_list_one_block {
    padding-bottom: 20px;
    margin-bottom: 7px;
}
.am-list-news-default .am-list .am-list-item-desced {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pet_content_main .am-list > li {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #f1f1f1;
}
.am-list-news-default .am-list > li {
    border-color: #dedede;
}
.am-list-news-default .am-g {
    margin-left: auto;
    margin-right: auto;
}
.am-list > li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-width: 1px 0;
    height: 160px;
}
.am-list-item-thumbed {
    padding-top: 1em;
}
.am-list-item-desced {
    padding-bottom: 1rem;
}
.am-g {
    margin: 0 auto;
    width: 100%;
}
.pet_content_main .am-list-news-default .pet_list_one_info {
    width: 100%;
    clear: both;
    height: 30px;
    margin-bottom: 10px;
}
.pet_content_main .am-list-news-default .pet_list_one_info_l {
    float: left;
}
.pet_content_main .am-list-news-default .pet_list_one_info_ico {
    width: 26px;
    height: 26px;
    float: left;
}
.pet_content_main .am-list-news-default .pet_list_one_info_name {
    color: #757575;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-indent: .5em;
}
.pet_content_main .am-list-news-default .pet_list_one_info_r {
    float: right;
}
.pet_content_main .am-list-news-default .pet_list_one_bt {
    margin-top: -4px;
    line-height: 22px;
}
.am-list-news-default .am-list .am-list-item-desced .am-list-item-text {
    margin: 0;
}
.pet_video_info_tag {
    position: absolute;
    font-size: 14px;
    bottom: 5px;
    right: 5px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    height: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    line-height: 22px;
    color: #fff;
}
.pet_content_main .am-list-news-default .pet_list_one_info_ico img {
    width: 100%;
    border-radius: 50%;
}
img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.am-btn, button, img, input:not([type="radio"]):not([type="checkbox"]), select {
    vertical-align: middle;
}
hr, iframe, img, legend {
    border: 0;
}