a,img{border:0;}
/* searchbox */
.border1{float: left;display: inline; padding: 0;margin: 0}
.searchbox{width:550px;height:80px;margin:40px auto 0 auto;}
.searchbox ul{ height:35px; width:500px; list-style:none; floar:left;display: inline;}
.searchbox ul li{ float:left;}
.searchbox ul li a{ float:left; line-height:35px; padding:0 20px; text-decoration:none; color:#000; font-size:14px; font-weight:bold;}
.searchbox ul li .style1{ background-color:#000; color:#fff}
.searchbox ul li .style2{ background-color:#2fa0ec;color:#fff}
.searchbox ul li .style3{ background-color:#F90;color:#fff}
.bodys input{ height:36px;line-height:30px;width:390px;padding:0 10px;float:left;}
.bodys .one{ border:#000 3px solid}
.bodys .two{ border:#2fa0ec 3px solid}
.bodys .three{ border:#F90 3px solid}
.bodys .one1{ background-color:#000; }
.bodys .two2{ background-color:#2fa0ec;}
.bodys .three3{ background-color:#F90;}
.bodys button{float:left;border:0;height:36px;width:100px; color:#FFF; line-height:36px;text-align:center;overflow:hidden;}
.bodys a{width:30px ;float: left; margin-left: 10px}
.row1{background:#f7f7f7; float:right; padding:0px 20px;line-height:50px;height:50px;font-weight:bold;color:#666;font-size:20px;}
.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:#333;opacity:0.6;filter:alpha(opacity=60);z-index:9999;position:fixed;top:0;left:0;display:none;}
#detailedSearch{position:absolute;left:460px;top:150px;background:white;width:426px;height:450px;border:3px solid #444;border-radius:7px;z-index:10000;display:none;}
#detailedSearch1{position:absolute;left:460px;top:150px;background:white;width:426px;height:400px;border:3px solid #444;border-radius:7px;z-index:10000;display:none;}
.searchTitle{text-align: center; font-size: 18px; margin-top: 10px; letter-spacing: 5px; font-weight: bold;}
.search_nav{margin-top: 100px;}
.login_username{ margin:0 auto;text-align: center; height: 20px; line-height: 40px; font-size: 15px; font-weight: bold;}
#search_submit{color:White;background:#4490f7;text-decoration:none;width:200px;height:47px;border-radius:5px;opacity:0.5;filter:alpha(opacity=80);}
#search_submit1{color:White;background:#4490f7;text-decoration:none;width:200px;height:47px;border-radius:5px;opacity:0.5;filter:alpha(opacity=80);}
.ok_gou{height: 40px; color: #5CB85C; font-size: 35px; display: none; text-align: center; border-radius: 10px;padding: 0px; line-height: 37px; border: 2px solid  #5CB85C;}
.error_cuo{height: 40px; width:200 ; color: red; font-size: 15px; margin:0 auto ; display: none; text-align: center; border-radius: 10px;line-height: 30px; border: 2px solid red;}
#updatemessage{position:absolute;left:460px;top:150px;background:white;width:426px;height:500px;border:3px solid #444;border-radius:7px;z-index:10000;display:none;}
.update{margin-top: 30px;}
.message{ margin:0 auto;text-align: center; height: 20px; line-height: 40px; font-size: 15px; font-weight: bold;}
